.App {
  text-align: center;
}


.menu_list{
  width: 100%;
  color: blueviolet;
}

body{
  background-image: url(./images/back_ground.jpg);
  background-size: 100%;
  font-size: 30px;
  font-variant-caps: all-petite-caps;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: rgb(74, 80, 80);
  color: white;
}

li{
  color: wheat;
}

.h1_class{
  text-align: left;
  font-size: 67px;
}

.nav-links{
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(74, 80, 80);
  color: black;
}