.App {
  text-align: center;
}

.box{
  background-color: lightgrey;
  width: 200px;
  padding: 3%;
  margin: 3%;
}

footer{
  color: rgb(31, 1, 31);
}

.menu_list{
  width: 100%;
  color: blueviolet;
}

body{
  background-image: url(./images/back_ground.jpg);
  background-size: 100%;
  font-size: 30px;
  font-variant-caps: all-petite-caps;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: rgb(74, 80, 80);
  color: white;
}

li{
  color: rgb(202, 193, 177);
}

.h1_class{
  text-align: center;
  font-size: 67px;
}

.nav-links{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(74, 80, 80);
  list-style: none;
  color: black;
}